
<header class="masthead">
    <ul class="language-nav">
       <li> <div class="bold"><a href="">CSS</a></li></div> 
       <li><a href="">HTML</a></li>
       <li><a href="">avascript</a></li>
       <li><a href="">Ruby</a></li>
    </ul>

    <img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times">

    <ul class="masthead-links">
        <li>Tuesday, October 18, 2016</li>
        <li>
        <i class="far fa-newspaper"></i>
            <button>Today’s Paper</button> 
        </li>
        <li> 
         <i class="fas fa-video"></i>
         <button>Video</button> 
        
        </li>
        <li> 77°F</li>
        <li>
        <strong>AAO +100%</strong>
        </li>
    </ul>
</header>

   
   
  
   